CHAT_MODEL=
CHAT_DEPLOYMENT_NAME=
EMBEDDING_MODEL=
EMBEDDING_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=
OPENAI_API_VERSION=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=


AGENT_MEMORY_TYPE=
PG_MEMORY_DB_URL=
WHISPER_MODEL_SIZE=base
WHISPER_MODEL_DIR=./models/whisper
